# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# Node
node_modules/
dist/

# Environment
.env
*.local

# Database
*.db
*.sqlite3

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
render.yaml
frontend/dist-electron/
env/vibe_coding_env01/
frontend/android/
frontend/node_modules/
env/
